.mantform
  %h2
    Nuevo #{Tipomensaje.model_name.human}
  = simple_form_for @tipomensaje do |form|

    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(tipomensajes_path)
