= f.input :numero, :label => t("adjuntos.label_numero")
= f.input :observaciones, :label => t('adjuntos.label_observaciones')
= f.input :archivo, :label => t('adjuntos.label_archivo') + ' (5MB MAX)'
= f.input :informacion_publica, :label => Adjunto.human_attribute_name(:informacion_publica)