#flash-messages
  - if flash[:notice]
    %div
      %p.notice= flash[:notice]
  - if flash[:error]
    %div
      %p.error= flash[:error]
  - if flash[:success]
    %div
      %p.success= flash[:success]
  - if flash[:alert]
    %div
      %p.notice= flash[:alert]
