.mantform.addpadding
  %h2
    Nueva #{Resolucion.model_name.human}
  = simple_form_for [@solicitud.institucion,@solicitud, @resolucion]  do |form|

    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(solicitud_path(@solicitud))
:javascript
  $("#resolucion_nueva_fecha").datepicker();
