.center {
  text-align: center;
}

.pagination {
  text-align: center;
}

body.private {

  .show {
    table {
      th {
        width: 20%;
      }
    }

    input.string {
      width: 400px;
    }
  }

  tr.inactive {
    text-decoration: line-through;
    color: gray;
    a { color: gray; }
  }


  /* -------------------------- */
  /* Solicitudes */
  /* -------------------------- */
  .mant-form {
    textarea {
      width: 90%;
    }

    .date {
      select {
        width: 100px;
      }
    }
  }

  /* -------------------------- */
  /* Asignaciones */
  /* -------------------------- */

  #newactividad {
    width: 530px;

    textarea {
      width: 95%;
      height: 150px;
    }
  }

  /* -------------------------- */
  /* Seguimientos */
  /* -------------------------- */

  #newseguimiento {
    textarea {
      width: 95%;
      height: 250px;
    }
  }

}